{{define "form/socks"}}
<a-form layout="inline">
    <a-form-item label="Password authentication">
        <a-switch :checked="inbound.settings.auth === 'password'"
            @change="checked => inbound.settings.auth = checked ? 'password' : 'noauth'"></a-switch>
    </a-form-item>
    <template v-if="inbound.settings.auth === 'password'">
        <a-form-item label="Username">
            <a-input v-model.trim="inbound.settings.accounts[0].user"></a-input>
        </a-form-item>
        <a-form-item label="Password">
            <a-input v-model.trim="inbound.settings.accounts[0].pass"></a-input>
        </a-form-item>
    </template>
    <a-form-item label="enable udp">
        <a-switch v-model="inbound.settings.udp"></a-switch>
    </a-form-item>
    <a-form-item v-if="inbound.settings.udp" label="IP">
        <a-input v-model.trim="inbound.settings.ip"></a-input>
    </a-form-item>
</a-form>
{{end}}