{{define "form/vmess"}}
<a-form layout="inline">
    <a-form-item label="id">
        <a-input v-model.trim="inbound.settings.vmesses[0].id"></a-input>
    </a-form-item>
    <a-form-item label="alter ID">
        <a-input type="number" v-model.number="inbound.settings.vmesses[0].alterId"></a-input>
    </a-form-item>
    <a-form-item label="
    Disable insecure encryption">
        <a-switch v-model.number="inbound.settings.disableInsecure"></a-switch>
    </a-form-item>
</a-form>
{{end}}