{{define "inboundInfoStream"}}
<p>Transmission: <a-tag color="green">[[ inbound.network ]]</a-tag>
</p>

<template v-if="inbound.isTcp || inbound.isWs || inbound.isH2">
    <p v-if="inbound.host">host: <a-tag color="green">[[ inbound.host ]]</a-tag>
    </p>
    <p v-else>host: <a-tag color="orange">无</a-tag>
    </p>

    <p v-if="inbound.path">path: <a-tag color="green">[[ inbound.path ]]</a-tag>
    </p>
    <p v-else>path: <a-tag color="orange">无</a-tag>
    </p>
</template>
<template v-if="inbound.tls || inbound.xtls">
    <p v-if="inbound.tls">tls: <a-tag color="green">Turn on</a-tag>
    </p>
    <p v-if="inbound.xtls">xtls: <a-tag color="green">Turn on</a-tag>
    </p>
</template>
<template v-else>
    <p>tls: <a-tag color="red">shutdown</a-tag>
    </p>
</template>
<p v-if="inbound.tls">
    TLS domain name: <a-tag :color="inbound.serverName ? 'green' : 'orange'">[[ inbound.serverName ? inbound.serverName
        : "none"
        ]]
    </a-tag>
</p>
<p v-if="inbound.xtls">
    xTLS domain nam: <a-tag :color="inbound.serverName ? 'green' : 'orange'">[[ inbound.serverName ? inbound.serverName
        : "none"
        ]]
    </a-tag>
</p>
{{end}}


{{define "component/inboundInfoComponent"}}
<div>
    <p>protocol: <a-tag color="green">[[ dbInbound.protocol ]]</a-tag>
    </p>
    <p>address: <a-tag color="blue">[[ dbInbound.address ]]</a-tag>
    </p>
    <p>port: <a-tag color="green">[[ dbInbound.port ]]</a-tag>
    </p>

    <template v-if="dbInbound.isVMess">
        <p>uuid: <a-tag color="green">[[ inbound.uuid ]]</a-tag>
        </p>
        <p>alterId: <a-tag color="green">[[ inbound.alterId ]]</a-tag>
        </p>
    </template>

    <template v-if="dbInbound.isSocks">
        <p>username: <a-tag color="green">[[ inbound.username ]]</a-tag>
        </p>
        <p>password: <a-tag color="green">[[ inbound.password ]]</a-tag>
        </p>
    </template>

    <template v-if="dbInbound.isHTTP">
        <p>用户名: <a-tag color="green">[[ inbound.username ]]</a-tag>
        </p>
        <p>密码: <a-tag color="green">[[ inbound.password ]]</a-tag>
        </p>
    </template>

    <template v-if="dbInbound.isVMess">
        {{template "inboundInfoStream"}}
    </template>
</div>
{{end}}

{{define "component/inboundInfo"}}
<script>
    Vue.component('inbound-info', {
        delimiters: ['[[', ']]'],
        props: ["dbInbound", "inbound"],
        template: `{{template "component/inboundInfoComponent"}}`,
    });
</script>
{{end}}