{{define "form/streamSettings"}}
<!-- select stream network -->
<a-form layout="inline">
    <a-form-item label="transmission">
        <a-select v-model="inbound.stream.network" @change="streamNetworkChange">
            <a-select-option value="tcp">tcp</a-select-option>
            <a-select-option value="ws">ws</a-select-option>
            <a-select-option value="http">http</a-select-option>
        </a-select>
    </a-form-item>
</a-form>

<!-- tcp -->
<template v-if="inbound.stream.network === 'tcp'">
    {{template "form/streamTCP"}}
</template>


<!-- ws -->
<template v-if="inbound.stream.network === 'ws'">
    {{template "form/streamWS"}}
</template>

<!-- http -->
<template v-if="inbound.stream.network === 'http'">
    {{template "form/streamHTTP"}}
</template>

{{end}}