{{define "menuItems"}}
<a-menu-item key="{{ .base_path }}ttcs/">
    <a-icon type="dashboard"></a-icon>
    <span>Dashboard</span>
</a-menu-item>
<a-menu-item key="{{ .base_path }}ttcs/inbounds">
    <a-icon type="user"></a-icon>
    <span>Inbouds</span>
</a-menu-item>
<a-menu-item key="{{ .base_path }}ttcs/setting">
    <a-icon type="setting"></a-icon>
    <span>Settings</span>
</a-menu-item>
<a-menu-item key="{{ .base_path }}logout">
    <a-icon type="logout"></a-icon>
    <span>Logout</span>
</a-menu-item>
{{end}}


{{define "commonSider"}}
<a-layout-sider id="sider" collapsible breakpoint="md" collapsed-width="0">
    <a-menu theme="dark" mode="inline" :selected-keys="['{{ .request_uri }}']"
        @click="({key}) => key.startsWith('http') ? window.open(key) : location.href = key">
        {{template "menuItems" .}}
    </a-menu>
</a-layout-sider>
<a-drawer id="sider-drawer" placement="left" :closable="false" @close="siderDrawer.close()"
    :visible="siderDrawer.visible" :wrap-style="{ padding: 0 }">
    <div class="drawer-handle" @click="siderDrawer.change()" slot="handle">
        <a-icon :type="siderDrawer.visible ? 'close' : 'menu-fold'"></a-icon>
    </div>
    <a-menu theme="light" mode="inline" :selected-keys="['{{ .request_uri }}']"
        @click="({key}) => key.startsWith('http') ? window.open(key) : location.href = key">
        {{template "menuItems" .}}
    </a-menu>
</a-drawer>
<script>
    const siderDrawer = {
        visible: false,
        show() {
            this.visible = true;
        },
        close() {
            this.visible = false;
        },
        change() {
            this.visible = !this.visible;
        }
    };
</script>
{{end}}