<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<style>
    @media (min-width: 769px) {
        .ant-layout-content {
            margin: 24px 16px;
        }
    }

    .ant-col-sm-24 {
        margin-top: 10px;
    }

    .ant-tabs-bar {
        margin: 0;
    }

    .ant-list-item {
        display: block;
    }

    .ant-tabs-top-bar {
        background: white;
    }
</style>

<body>
    <a-layout id="app" v-cloak>
        {{ template "commonSider" . }}
        <a-layout id="content-layout">
            <a-layout-content>
                <a-spin :spinning="spinning" :delay="500" tip="loading">
                    <a-space direction="vertical">
                        <a-space direction="horizontal">
                            <a-button type="primary" :disabled="saveBtnDisable" @click="updateAllSetting">Update all
                                setting
                            </a-button>
                            <a-button type="danger" :disabled="!saveBtnDisable" @click="restartPanel">Restart panel
                            </a-button>
                        </a-space>
                        <a-tabs default-active-key="1">
                            <a-tab-pane key="1" tab="panel configuration">
                                <a-list item-layout="horizontal" style="background: white">
                                    <setting-list-item type="text" title="
                                    panel monitor IP"
                                        desc="Leave blank by default to monitor all IPs, restart the panel to take effect"
                                        v-model="allSetting.webListen"></setting-list-item>
                                    <setting-list-item type="number" title="Panel listening port"
                                        desc="Restart the panel to take effect" v-model.number="allSetting.webPort">
                                    </setting-list-item>
                                    <setting-list-item type="text" title="
                                    panel url root path" desc="Panel url root path" v-model="allSetting.webBasePath">
                                    </setting-list-item>
                                    </setting-list-item>
                                </a-list>
                            </a-tab-pane>
                            <a-tab-pane key="2" tab="user config">
                                <a-form style="background: white; padding: 20px">
                                    <a-form-item label="old username">
                                        <a-input v-model="user.oldUsername" style="max-width: 300px"></a-input>
                                    </a-form-item>
                                    <a-form-item label="old password">
                                        <a-input type="password" v-model="user.oldPassword" style="max-width: 300px">
                                        </a-input>
                                    </a-form-item>
                                    <a-form-item label="new username">
                                        <a-input v-model="user.newUsername" style="max-width: 300px"></a-input>
                                    </a-form-item>
                                    <a-form-item label="new password">
                                        <a-input type="password" v-model="user.newPassword" style="max-width: 300px">
                                        </a-input>
                                    </a-form-item>
                                    <a-form-item>
                                        <a-button type="primary" @click="updateUser">update</a-button>
                                    </a-form-item>
                                </a-form>
                            </a-tab-pane>
                        </a-tabs>
                    </a-space>
                </a-spin>
            </a-layout-content>
        </a-layout>
    </a-layout>
    {{template "js" .}}
    {{template "component/setting"}}
    <script>
        const app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                siderDrawer,
                spinning: false,
                oldAllSetting: new AllSetting(),
                allSetting: new AllSetting(),
                saveBtnDisable: true,
                user: {},
            },
            methods: {
                loading(spinning = true) {
                    this.spinning = spinning;
                },
                async getAllSetting() {
                    this.loading(true);
                    const msg = await HttpUtil.post("/ttcs/setting/all");
                    this.loading(false);
                    if (msg.success) {
                        this.oldAllSetting = new AllSetting(msg.obj);
                        this.allSetting = new AllSetting(msg.obj);
                        this.saveBtnDisable = true;
                    }
                },
                async updateAllSetting() {
                    this.loading(true);
                    const msg = await HttpUtil.post("/ttcs/setting/update", this.allSetting);
                    this.loading(false);
                    if (msg.success) {
                        await this.getAllSetting();
                    }
                },
                async updateUser() {
                    this.loading(true);
                    const msg = await HttpUtil.post("/ttcs/setting/updateUser", this.user);
                    this.loading(false);
                    if (msg.success) {
                        this.user = {};
                    }
                },
                async restartPanel() {
                    await new Promise(resolve => {
                        this.$confirm({
                            title: 'Restart',
                            content: 'Are you OK you want to restart the panel? Click OK to restart after 3 seconds',
                            okText: 'OK',
                            cancelText: 'cancel',
                            onOk: () => resolve(),
                        });
                    });
                    this.loading(true);
                    const msg = await HttpUtil.post("/ttcs/setting/restartPanel");
                    this.loading(false);
                    if (msg.success) {
                        this.loading(true);
                        await PromiseUtil.sleep(5000);
                        location.reload();
                    }
                }
            },
            async mounted() {
                await this.getAllSetting();
                while (true) {
                    await PromiseUtil.sleep(1000);
                    this.saveBtnDisable = this.oldAllSetting.equals(this.allSetting);
                }
            },
        });
    </script>
</body>

</html>